/* #updi{
    background-color: brown;
    width: 520px;
    height: 420px;
    margin-left: 600px;
    margin-top: 300px;

    
}
img{
    padding-left: 155px;
    color: aliceblue;
}
/* h1{
    padding-left: 155px;
    color: aliceblue;
}
p{
    padding-left: 155px;
    color: aliceblue;
} */
 /* #updi h1,p{
    padding-left: 100px;
    color: z;
 } */ 
.assignment{
    background-color: red;
    width: 500px;
    height: 400px;
    margin-top:50px;
    margin-left: 60px;
    margin-top: 300px;
    border: 6px dotted yellow;
    border-radius: 40px;
    border-bottom-left-radius: 100px;
    border-top-right-radius: 100px;
    border
}
.assignment h1{
  

    background-color: rgb(239, 239, 22);
    width: 100px;
    height: 75px;
    margin-left: 150px;


    

}
.assignment h3{
    background-color: aquamarine;
    width: 100px;
    height: 50px;
    margin-left:400px ;
}
.assignment h4{
    background-color: blanchedalmond;
    width: 100px;
    height: 45px;

}

















